<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - 甜品店</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav>
            <ul class="navbar">
                <li><a asp-controller="Home" asp-action="Index">首頁</a></li>
                <li><a asp-controller="Home" asp-action="News">最新消息</a></li>
                <li><a asp-controller="Products" asp-action="">產品</a></li>
                <li><a asp-controller="Member" asp-action="Index">會員</a></li>
                <li><a asp-controller="Cart" asp-action="Index">購物車</a></li>
                <li><a asp-controller="ProductsInsert" asp-action="Index">產品上架</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!-- 這裡會動態顯示每個頁面的內容 -->
        </main>
    </div>

    <footer>
        <p>&copy; 2024 甜品店. All Rights Reserved.</p>
    </footer>

    <script src="~/js/site.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>